.page1
	display block

.pic
	&__background
		position: absolute
		background-position: 50% 50%
		background-repeat: no-repeat
		border-width: 1px
		background-image: url(../images/Upper_background_point.png)
		capture: on
		container: on
		background-size: cover
		height: 100%
		width: 100%
		z-index: 1
		parallax: on
		background-attachment: fixed
		fullcover: on
		background-color: #f0f5f2
		left: 0
		top: 0

.container
	&__top
		width 718px
		height 420px
		background-color rgba(182, 202, 185, 0.60)
		position absolute
		top: 50%
		left: 50%
		margin -210px 0 0 -359px

.text
	color #fefefe
	position absolute
	&__Header
		font-family 'Open Sans'
		font-weight bolder
		font-size 35pt
		opacity 100
		top: 50%
		left: 50%
