.page1
	display flex
	align-items: center
	justify-content: center
	z-index: 1

.page1_background
	background-color: #f0f5f2
	background-position: 50% 50%
	background-repeat: no-repeat
	border-width: 1px
	background-image: url(../images/Upper_background_point.png)
	capture: on
	container: on
	background-size: cover
	height: 750px
	width: 100%
	z-index: 1
	parallax: on
	background-attachment: fixed
	fullcover: on
	left: 0
	top: 0
	flex-direction: column


	//color #fefefe

.text__header
	font-family:"Georgia"
	font-size 30pt
	color #383536
	z-index: 1

.text__main
	text-align center
	padding 20px
	font-family:"Georgia"
	font-size 15pt
	color #fefefe
	z-index: 1

.button
	background #b4c180
	width 278px
	height 39px
	-webkit-border-radius: 10px
	-moz-border-radius 10px
	border-radius 10px
	container: on
	overflow: hidden
	box-shadow  0px 3px 1px rgba(0, 0, 0, 0.16)
	z-index: 1

.button:active
	background-color: #cbd892
	box-shadow  0px 3px 1px rgba(0, 0, 0, 0.1)
	z-index: 1

.text_in_button
	font 'Open Sans'
	font-size 17pt
	color #fefefe
	text-align center
	z-index: 1

.space_text
	margin-bottom auto
	font-family: Lobster
	font-size: 60px
	color: #ffadba
	z-index: 1


.page1_container__top
	margin-bottom auto
	flex-direction column
	justify-content: space-around
	background-color rgba(182, 202, 185, 0.60)
	width 600px
	padding: 40px
	z-index: 1

#main
	position absolute
	display flex
	align-items: center
	justify-content: center

.top_front_paper
	position absolute
	background: transparent url('../images/top_front_paper.png') 0 0 no-repeat
	background-position-x center
	background-position-y center
	height 800px
	width 100%

.top_background_paper
	position absolute
	background: transparent url('../images/top_background_paper.png') 0 0 no-repeat
	background-position-x center
	background-position-y center
	height 800px
	width 100%

.dev_for_parallax
	parallax: on
	width 100%
	height 800px
	display flex
	align-items: center
	justify-content: center
