mixin page1()
	+b.page1.page1_background&attributes(attributes)
		span.space_text Paper
		+b.page1.page1_container__top
			+b.text__header
				|Мягче ваших ожиданий
			+b.text__main
				|Нежная, как шёлк, сухая туалетная бумага Paper
				|очищает с максимальным комфортом и заботой о коже,
				|а влажная туалетная бумага Kleenex обеспечивает
				|полную чистоту и ощущение абсолютной свежести!
				|Оставтье свою контактную инвормацию
				|и мы свяжемся с вами.
			+b(id="button1").page1.button
				+b.text_in_button Заказать
		#main
			.top_background_paper
				.top_front_paper
		script(type='text/javascript').
			$('body').parallax({
				elements : [
					{
						selector :   'div.top_front_paper',
						properties : {
							x : {
								'background-position-x' : {
								initial :    0,
								multiplier : 0.1,
								invert :     true
								}
							},
			y : {
			'background-position-y' : {
			initial :    0,
			multiplier : 0.1,
			invert :     true
			}
			}
			}
			},
			{
			selector :   'div.top_background_paper',
			properties : {
			x : {
			'background-position-x' : {
			initial :    0,
			multiplier : 0.05
			}
			},
			y : {
			'background-position-y' : {
			initial :    0,
			multiplier : 0.05
			}
			}
			}
			},
			{
			selector :   'div.pic__center',
			properties : {
			x : {
			'background-position-x' : {
			initial :    0,
			multiplier : 0.3,
			invert :     true
			}
			},
			y : {
			'background-position-y' : {
			initial :    0,
			multiplier : 0.3,
			invert :     true
			}
			}
			}
			}
			]
			});

	block
