mixin page1()
	+b.page1.page1_background&attributes(attributes)
		span.space_text Paper

		+b.top_background_paper
		+b.top_front_paper

		+b.page1.page1_container__top
			+b.text__header
				| Мягче ваших ожиданий
			+b.text__main
				| Нежная, как шёлк, сухая туалетная бумага Paper
				| очищает с максимальным комфортом и заботой о коже,
				| а влажная туалетная бумага Paper обеспечивает
				| полную чистоту и ощущение абсолютной свежести!
				| Оставтье свою контактную инвормацию
				| и мы свяжемся с вами.
			+b(id="button1").page1.button
				+b.text_in_button Заказать
		script(type='text/javascript').
			const background_paper_pos = $('.top_background_paper');
			const front_paper_pos = $('.top_front_paper');
			$('body').parallax([
				{
					item: background_paper_pos,
					strength: 100
				},
				{
					item: front_paper_pos,
					strength: -100
				},
			]);

	block
