mixin page2()
	+b(id="bitrix")
	+b.page2.page2_BLOCK&attributes(attributes)
		+b.page2
			+b.page2.page2_container_left
				img(src='assets/images/icon1_toilet_paper.png')
				+b.page2.container_for_text
					+b.page2.container_for_text.container_for_text_header Мы на рынке уже 13лет
					+b.page2.container_for_text.container_for_text_main
						| Эти цифры говорят
						br
						| о нашей высокой
						br
						| конкурентоспособности
						br
						| и продолжительном
						br
						| сотрудничесиве с клиентами
			+b.page2.page2_container_center
				img(src='assets/images/icon2_toilet_paper.png')
				+b.page2.container_for_text
					+b.page2.container_for_text.container_for_text_header Экологически чистый товар
					+b.page2.container_for_text.container_for_text_main
						| оваопрявапояр
						br
						| ывалпровраопылв
						br
						| ывпоырважпы
						br
						| ыыврпшщжщы
						br
						| ыгвшпршгыд
			+b.page2.page2_container_right
				img(src='assets/images/icon3_toilet_paper.png')
				+b.page2.container_for_text
					+b.page2.container_for_text.container_for_text_header Нам доверяют на 146%
					+b.page2.container_for_text.container_for_text_main
						|оваопрявапояр
						br
						|ывалпровраопылв
						br
						|ывпоырважпы
						br
						|ыыврпшщжщы
						br
						|ыгвшпршгыд

		block
