.page2
	display flex
	justify-content: center
	align-items center
	z-index: 1

#bitrix
	display: none

.page2_BLOCK
	height  450px
	width  100%
	background-color: #ffffff


.page2_container_left
	margin-right 50px
	flex-direction: column
.page2_container_right
	margin-left  50px
	flex-direction: column
.page2_container_center
	flex-direction: column

.container_for_text
	margin 10px

.container_for_text
	font-family 'Myriad Pro'
	text-align center
	flex-direction: column

.container_for_text_header
	color #797979
	font-size 16pt

.container_for_text_main
	font-family: "open sans" sans-serif
	color #8d8d8d
	font-size 15pt


