mixin page()
	+b('body').page&attributes(attributes)
		block
#wrapper
	header.menu
		li.item1
			a(href='#who') для кого
		li.item2
			a(href='#result') результаты
		li.item3
			a(href='#me') обо мне
		li.item4
			a(href='#service') услуги
		li.item5
			a(href='#review') отзывы
	.wrapper
		p.hello
			| Здравствуйте, меня зовут Дмитрий Колыгин. Я - психолог, специализируюсь на индивидуальной
			br
			|       и семейной психологи. Помогу изменить качество Вашей жизни к лучшему:
			br
			|            Снизить уровень стресса и тревоги;
			br
			|            Наладить семейные отношения(супружеские/детско-родительские);
			br
			|            Преодолеть жизненные кризисы или психологические травмы;
			br
			|            Разобраться в себе и стать активным автором собственной жизни;
			br
			|            8 925 464 86 10 | kolygin.d@gmail.com
