mixin page()
	+b('body').page&attributes(attributes)
		block
body
	#wrapper
		header.menu
			li.item1
				a(href='#who') для кого
			li.item2
				a(href='#result') результаты
			li.item3
				a(href='#me') обо мне
			li.item4
				a(href='#service') услуги
			li.item5
				a(href='#review') отзывы
		.wrapper
			p.text.hello
				| Здравствуйте, меня зовут Дмитрий Колыгин. Я - психолог, специализируюсь на индивидуальной
				br
				|       и семейной психологи. Помогу изменить качество Вашей жизни к лучшему:
				br
				|            Снизить уровень стресса и тревоги;
				br
				|            Наладить семейные отношения(супружеские/детско-родительские);
				br
				|            Преодолеть жизненные кризисы или психологические травмы;
				br
				|            Разобраться в себе и стать активным автором собственной жизни;
				br
				|            8 925 464 86 10 | kolygin.d@gmail.com
		.application
			label.fld-label
				span.actAsPara Имя:
			span.fld-input
				input.wrapped-input(type='text', spellcheck='false')
				label.wrappe
					span.actAsPara Введите ваше имя
				br
			label.fld-label
				span.actAsPara E-mail:
			span.fld-input
				input.wrapped-input(type='text', spellcheck='false')
				label.wrappe
					span.actAsPara Введите ваш E-mail
				br
			label.fld-label
				span.actAsPara Задайте свой вопрос:
			span.fld-input
				input.wrapped-input(type='text', spellcheck='false')
				label.wrappe
					span.actAsPara Введите сообщение
				br
			button.ask-question задать вопрос
	#who
		.who
			h2.header С какими вопросами можно обратиться:
			ul.list.list1
				|Неуверенность в себе
				br
				|Проблемы в отношениях
				br
				|Страхи
				br
				|Проблемы самооценки
				br
				|Трудности взаимопонимания
				br
				|Любовная зависимость
				br
				|Сексуальные дисгармонии
				br
				|Проблемы у детей
			ul.list.list2
				| Депрессия
				br
				| Негативные эмоции
				br
				| Трудности в общении
				br
				| Конфликты и ссоры
				br
				| Семейные кризисы
				br
				| Ревность
				br
				| Измена
				br
				| Любовный треугольник
			ul.list.list3
				| Принятие решений
				br
				| Неумение говорить "нет"
				br
				| Поиск партнера
				br
				| Стресс
				br
				| Зависимость от чужого мнения
				br
				| Лень
				br
				| Горе и утрата
				br
				| Поиск себя
	#result
		.result
			h2.header Что дают психологические консультации:
			p.text
				| Вы сможете определить причины возникших проблем и снизить уровень стресса.
				br
				| Вы найдете способы  решения существующих проблем и защиты от их повторного возникновения.
				br
				| Мы вместе обнаружим Ваши индивидуальные внутренние ресурсы, которые помогут Вам эффективно справляться с жизненными сложностями.
				br
				| На время нашей работы Вы получите безусловные внимание, принятие и поддержку.
				br
				| Вы обретете способность лучше понимать себя самого и окружающих, научитесь лучше управлять своим состоянием и образом мыслей.
				.gap
				| На сегодняшний день все больше людей  используют психотерапию, как эффективный метод работы с жизненными трудностями.
				br
				| Когда у вас болит зуб – вы можете пойти  к дантисту, когда у вас тяжелое эмоциональное состояние – имеете возможность  обратиться к психологу.
				br
				| Вы обретете способность лучше понимать себя самого и окружающих, научитесь лучше управлять своим состоянием и образом мыслей.
	#me
		.me
			h2.header Обо мне
			p.text
				| Мое образование:
				| «Российский Государственный Гуманитарный Университет», магистратура  по специальности "Психология личности"
				br
				| «Институт Клинической Психологии и Психотерапии», профессиональная переподготовка по специальности "Клинический психолог"
				br
				| «Центр Семейной Системной Терапии» повышение квалификации  по специальности "Системная семейная психотерапия"
				br
				br
				| Мои принципы:
				br
				| Индивидуальный подход:  каждая человеческая история для меня – это уникальная история. Потому конкретные методы и техники работы, выбираются
				br
				| мной в соответствии с личными особенностями человека и спецификой его жизненной ситуации.
				br
				| Внимание к деталям: во внутренней жизни человека не бывает мелочей и системное, целостное видение ситуации возможно только при чуткости к самым
				br
				| незначительным на первых взгляд элементам.
				br
				| Конфиденциальность:  все, что обсуждается на консультации, не подлежит разглашению со стороны психолога.
				br
				| Безоценочность:  с какой бы проблемой вы ни пришли, в моем лице вы получите принятие и поддержку и никогда – оценку и порицание.
				br
				| Мой блог:
				br
				| Чтобы более подробно узнать о моих методах, получать полезные советы и интересную информацию, связанную с психологией, подписывайтесь на мои блоги:
			a.link.vk(href='https://vk.com/id1695543')
				img(src='https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/vk-128.png', alt='vk', style='width:42px;height:42px;border:0;')
			a.link.fb(href='https://vk.com/id1695543')
				//ССЫЛКУ НА фейсбук
				img(src='https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/facebook-128.png', alt='vk', style='width:42px;height:42px;border:0;')
			a.link.inst(href='https://vk.com/id1695543')
				//ССЫЛКУ НА ИНСТАГРАММ
				img(src='https://cdn2.iconfinder.com/data/icons/capsocial-square-flat-3/500/instagram-128.png', alt='vk', style='width:42px;height:42px;border:0;')
	#service
		.service
