.page3
	display flex
	align-items: center
	justify-content: center
	z-index 1

a
	color: #fefefe
	text-decoration none

.page3_background
	background-color: #f0f5f2
	background-position: 50% 50%
	background-repeat: no-repeat
	border-width: 1px
	background-image: url(../images/Upper_background_point.png)
	capture: on
	container: on
	background-size: cover
	height: 500px
	width: 100%
	z-index: 1
	parallax: on
	background-attachment: fixed
	fullcover: on
	left: 0
	top: 0

.page3_container__top
	flex-direction column
	background-color rgba(182, 202, 185, 0.60)
	width 600px
	padding: 40px

.lower_paper
	z-index 0
	position absolute
	background: transparent url('../images/lower_paper.png') 0 0 no-repeat
	background-position-x center
	background-position-y center
	height 800px
	width 100%
