mixin page3()
	+b.page3.page3_background&attributes(attributes)
		+b.page3.page3_container__top
			+b.text__main
				|Туалеетная бумага — бумажное изделие, используемое

				|в санитарно-гигиенических целях. Туалетная бумага

				|выпускается в рулонном или листовом видах.

				|Изгшшотовление туалетной бумаги — достаточно сложный

				|процесс: она должна рваться в строго определённых местах,

				|одновременно быть прочной и при этом мягкой. Кроме того,

				|она должна быстро распадаться на волокна в

				|канализации — в противном случае она может засорить

				|сточные трубы.
			a(href='#top').page3.button.text_in_button Заказать


		block
