.page3
	display flex
	align-items: center
	justify-content: center

a
	color: #fefefe
	text-decoration none

.page3_background
	background-color: #f0f5f2
	background-position: 50% 50%
	background-repeat: no-repeat
	border-width: 1px
	background-image: url(../images/Upper_background_point.png)
	capture: on
	container: on
	background-size: cover
	height: 500px
	width: 100%
	z-index: 1
	parallax: on
	background-attachment: fixed
	fullcover: on
	left: 0
	top: 0

.page3_container__top
	flex-direction column
	background-color rgba(182, 202, 185, 0.60)
	width 600px
	padding: 40px
.text__main
	font-family:"Georgia"
	font-size 15pt
	text-align center
	color #fefefe

.page3_button.page3_text_in_button
	background #b4c180
	width 278px
	height 39px
	-webkit-border-radius: 10px
	-moz-border-radius 10px
	border-radius 10px
	container: on
	margin-top 26px
	overflow: hidden
	box-shadow  0px 3px 1px rgba(0, 0, 0, 0.16)

.page3_button.page3_text_in_button:active
	background-color: #cbd892
	box-shadow  0px 3px 1px rgba(0, 0, 0, 0.1)

.page3_text_in_button
	font 'Open Sans'
	font-size 17pt
	color #fefefe
	text-align center
