mixin parallax(teg)
	.parallax
		.parallax__layer.parallax__layer--back
			#{teg}(src = "http://cdn.pcwallart.com/images/colored-smoke-tumblr-wallpaper-2.jpg")
		.parallax__layer.parallax__layer--base
			.title This is the foreground
		block
