.wrap
	display block

#main
	.center
		height 5000px
		background transparent url(https://psv4.vk.me/c812239/u377306254/docs/9e93fd590e5c/zhelty_krug.png?extra=cFmJc7LxxudzPdK4FVYB00bXX3a6nbaXRr0JwfYwjIemzMJ9T4cEmqL85Gr95mRp7BU0ydYE32KcQd9lcdzPPJfbBLz9B6Yzx1sEIaiNHPJMC_YTl7UhCWTB) 0 0 no-repeat

	.blue
		height 5000px
		background transparent url(https://psv4.vk.me/c812239/u377306254/docs/b9d4c8656698/siniy_krug.png?extra=o7v_uI1bwqRTjLmMhGjxob3sYdIJOuS9XTlIPuZp9E-IdUYmL1FzsznLMPZJTVWv4YQkAKwk_VDhvqC7tAd8JgWNshIPkgIb-DkU89ipQn5es1175ubeT-_f) 0 0 no-repeat

	.yellow
		background transparent url(https://psv4.vk.me/c812735/u377306254/docs/1340e711ee6b/Bez_imeni-1.jpg?extra=utEbHIssPLsucF9bA2AMYM4upAK8MnOtszPnbjSyuuTsA52bjiA41T8Ix7e6d5lYbk150iIqciQ7Ylog-26sBfOzs5VzSyXi7b-XT6D_RnECBC9Qnup30poO) 0 0 no-repeat
		background-size 130%
