.wrap
	display block

.pic
	&__yellow
		height 300px
		background transparent 0 0 no-repeat
	&__blue
		background transparent 0 0 no-repeat
	&__center
		background transparent 0 0 no-repeat
		ackground-size 100%

#main
	.center
		height 900px
		background transparent url(../images/otaku_trash.jpg) 0 0 repeat

	.blue
		height 900px
		background transparent url(../images/anime_boys.jpg) 0 0 repeat

	.yellow
		background transparent url(../images/dance_boy.jpg) 0 0 repeat
		height 900px
