.wrap
	display block

#main
	.center
		height 900px
		background transparent url(/otaku_trash.jpg) 0 0 no-repeat

	.blue
		height 900px
		background transparent url(/anime_boys.jpg) 0 0 repeat

	.yellow
		background transparent url(/dance_boy.jpg) 0 0 repeat
		background-size 100%
